<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</head>

<body class="bg-dark text-white">
    <div class="container">
        <h2>Books Store</h2>

        <% returnedBook.forEach(function(book) { %>

        <form id = "formID" method="PUT">
            <div class="form-group">
                <label for="Title">Book Title</label>
                <input type="text" class="form-control" name="Title" value="<%= book.Title %>" id="title"
                    placeholder="Book Title" required>
            </div>

            <div class="form-group">
                <label for="Author">Book Author</label>
                <input type="text" class="form-control" name="Author" value="<%= book.Author %>" id="author"
                    placeholder="Book Author" required>
            </div>

            <div class="form-group">
                <label for="date-published">Date Published</label>
                <input type="text" class="form-control" id="date-published" value="<%= book.datePublished %>"
                    name="datePublished" placeholder="Date Published" required>
            </div>

            <div class="form-group">
                <label for="Description"> Book Description</label>
                <input type="text" class="form-control" id="description" value="<%= book.Description %>"
                    name="Description" placeholder="Book Description" required>
            </div>

            <div class="form-group">
                <label for="Genre">Genre</label>
                <input type="text" class="form-control" name="Genre" value="<%= book.Genre %>" id="genre"
                    placeholder="Genre" required>
            </div>

            <div class="form-group">
                <label for="Publisher">Publisher</label>
                <input type="text" class="form-control" name="Publisher" value="<%= book.Publisher %>" id="publisher"
                    placeholder="Publisher" required>
            </div>

            <div class="form-group">
                <label for="PageCount">Page Count</label>
                <input type="text" class="form-control" name="pageCount" value="<%= book.pageCount %>" id="pageCount"
                    placeholder="PageCount" required>
            </div>


            <br />
            <br />
            <a href="/books/update/<%=book.bookId %>" data-id="<%=book.bookId %>" id="btn"
                class="btn btn-primary w-100">Submit</a>
        </form>



        <%}); %>





        <script>
            const button = document.getElementById("btn")
            const author = document.getElementById("author")
            const description = document.getElementById("description")
            const datePublished = document.getElementById("date-published")
            const title = document.getElementById("title")
            const genre = document.getElementById("genre")
            const publisher = document.getElementById("publisher")
            const pageCount = document.getElementById("pageCount")
            

            button.addEventListener('click', async (e) => {
                e.preventDefault()

                const edit = e.target.dataset.id;


                await fetch(`/books/update/${edit}`, {
                    method : "PUT",
                    headers : {"Content-Type" : "application/json"},

                    body : JSON.stringify({
                        Title : title.value,
                        Author : author.value,
                        datePublished : datePublished.value,
                        Description : description.value,
                        pageCount : pageCount.value,
                        Genre : genre.value,
                        Publisher : publisher.value
                    })
                })
            })
        </script>

    </div>
</body>



</html>